USE [master]
GO
/****** Object:  Database [EduSmart_DB]    Script Date: 04/07/2026 06:37:17 م ******/
CREATE DATABASE [EduSmart_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduSmart_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EduSmart_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduSmart_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EduSmart_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduSmart_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduSmart_DB]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](200) NOT NULL,
	[EgitmenID] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kayitlar]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kayitlar](
	[KayitID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NOT NULL,
	[DersID] [int] NOT NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KayitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Eposta] [nvarchar](150) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[OlusturulmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notlar]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notlar](
	[NotID] [int] IDENTITY(1,1) NOT NULL,
	[TeslimID] [int] NOT NULL,
	[FinalPuani] [decimal](5, 2) NULL,
	[SistemOnerilenPuan] [decimal](5, 2) NULL,
	[PuanlamaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odevler]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odevler](
	[OdevID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NOT NULL,
	[Baslik] [nvarchar](200) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[SonTeslimTarihi] [datetime] NOT NULL,
	[Agirlik] [decimal](5, 2) NULL,
	[ZorlukSeviyesi] [int] NULL,
	[TahminiSureDakika] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdevID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskAnalizi]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskAnalizi](
	[RiskID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NOT NULL,
	[RiskSeviyesi] [nvarchar](20) NULL,
	[RiskPuani] [decimal](5, 2) NULL,
	[HesaplanmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RiskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinavSonuclari]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinavSonuclari](
	[SinavSonucID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciID] [int] NOT NULL,
	[DersID] [int] NOT NULL,
	[VizePuani] [decimal](5, 2) NULL,
	[FinalPuani] [decimal](5, 2) NULL,
	[Ortalama]  AS (CONVERT([decimal](5,2),isnull([VizePuani],(0)))*(0.40)+CONVERT([decimal](5,2),isnull([FinalPuani],(0)))*(0.60)) PERSISTED,
	[HarfNotu] [nvarchar](2) NULL,
	[Durum] [nvarchar](20) NULL,
	[SinavTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavSonucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teslimler]    Script Date: 04/07/2026 06:37:18 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teslimler](
	[TeslimID] [int] IDENTITY(1,1) NOT NULL,
	[OdevID] [int] NOT NULL,
	[OgrenciID] [int] NOT NULL,
	[IcerikMetni] [nvarchar](max) NULL,
	[DosyaYolu] [nvarchar](500) NULL,
	[TeslimTarihi] [datetime] NULL,
	[Durum] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeslimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dersler] ON 

INSERT [dbo].[Dersler] ([DersID], [DersAdi], [EgitmenID], [Aciklama]) VALUES (1, N'Karar Destek Sistemleri', 2, N'KDS Teorisi ve Uygulamaları')
INSERT [dbo].[Dersler] ([DersID], [DersAdi], [EgitmenID], [Aciklama]) VALUES (2, N'Yapay Zeka', 2, N'Makine Öğrenmesi Temelleri')
INSERT [dbo].[Dersler] ([DersID], [DersAdi], [EgitmenID], [Aciklama]) VALUES (3, N'Veritabanı Yönetimi', 3, N'SQL ve T-SQL')
SET IDENTITY_INSERT [dbo].[Dersler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kayitlar] ON 

INSERT [dbo].[Kayitlar] ([KayitID], [OgrenciID], [DersID], [KayitTarihi]) VALUES (1, 4, 1, CAST(N'2026-01-16T00:26:08.510' AS DateTime))
INSERT [dbo].[Kayitlar] ([KayitID], [OgrenciID], [DersID], [KayitTarihi]) VALUES (2, 4, 2, CAST(N'2026-01-16T00:26:08.510' AS DateTime))
INSERT [dbo].[Kayitlar] ([KayitID], [OgrenciID], [DersID], [KayitTarihi]) VALUES (3, 5, 1, CAST(N'2026-01-16T00:26:08.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kayitlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Eposta], [SifreHash], [Rol], [OlusturulmaTarihi]) VALUES (1, N'System Admin', N'admin@edusmart.com', N'PBKDF2$10000$8Rj3X+flMWuASQ2MPDPMCw==$dvoWBCPc1Ng0pQSxlAkGJMgK1DdYS+qHeK8g3ur4V3Y=', N'Yonetici', CAST(N'2026-01-16T00:26:08.483' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Eposta], [SifreHash], [Rol], [OlusturulmaTarihi]) VALUES (2, N'Dr. Ali Yilmaz', N'ali@edusmart.com', N'PBKDF2$10000$RT5eXMNJsEj7Tt26g7jVsg==$HQmUo/M/j9jEBS+B3VbCSXd3+7vdm3xiwnU9SSAzx/g=', N'Ogretmen', CAST(N'2026-01-16T00:26:08.483' AS DateTime))
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Eposta], [SifreHash], [Rol], [OlusturulmaTarihi]) VALUES (3, N'Dr. Ayse Kaya', N'ayse@edusmart.com', N'12345', N'Ogretmen', CAST(N'2026-01-16T00:26:08.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Notlar] ON 

INSERT [dbo].[Notlar] ([NotID], [TeslimID], [FinalPuani], [SistemOnerilenPuan], [PuanlamaTarihi]) VALUES (1, 1, CAST(50.00 AS Decimal(5, 2)), CAST(80.00 AS Decimal(5, 2)), CAST(N'2026-07-04T15:42:58.127' AS DateTime))
INSERT [dbo].[Notlar] ([NotID], [TeslimID], [FinalPuani], [SistemOnerilenPuan], [PuanlamaTarihi]) VALUES (2, 2, CAST(50.00 AS Decimal(5, 2)), NULL, CAST(N'2026-01-16T08:30:44.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odevler] ON 

INSERT [dbo].[Odevler] ([OdevID], [DersID], [Baslik], [Aciklama], [SonTeslimTarihi], [Agirlik], [ZorlukSeviyesi], [TahminiSureDakika]) VALUES (1, 1, N'KDS Makale Özeti', N'Bir makale okuyup özetleyin', CAST(N'2026-01-17T00:26:08.517' AS DateTime), CAST(10.00 AS Decimal(5, 2)), 2, 45)
INSERT [dbo].[Odevler] ([OdevID], [DersID], [Baslik], [Aciklama], [SonTeslimTarihi], [Agirlik], [ZorlukSeviyesi], [TahminiSureDakika]) VALUES (2, 1, N'Dönem Projesi', N'C# ile KDS uygulaması', CAST(N'2026-01-23T00:26:08.517' AS DateTime), CAST(40.00 AS Decimal(5, 2)), 5, 300)
INSERT [dbo].[Odevler] ([OdevID], [DersID], [Baslik], [Aciklama], [SonTeslimTarihi], [Agirlik], [ZorlukSeviyesi], [TahminiSureDakika]) VALUES (3, 2, N'Python Alıştırması', N'Numpy kütüphanesi', CAST(N'2026-01-19T00:26:08.517' AS DateTime), CAST(20.00 AS Decimal(5, 2)), 3, 90)
SET IDENTITY_INSERT [dbo].[Odevler] OFF
GO
SET IDENTITY_INSERT [dbo].[RiskAnalizi] ON 

INSERT [dbo].[RiskAnalizi] ([RiskID], [OgrenciID], [RiskSeviyesi], [RiskPuani], [HesaplanmaTarihi]) VALUES (1, 4, N'Dusuk', CAST(38.00 AS Decimal(5, 2)), CAST(N'2026-07-04T16:29:30.993' AS DateTime))
INSERT [dbo].[RiskAnalizi] ([RiskID], [OgrenciID], [RiskSeviyesi], [RiskPuani], [HesaplanmaTarihi]) VALUES (2, 6, N'Dusuk', CAST(37.00 AS Decimal(5, 2)), CAST(N'2026-07-04T16:29:30.980' AS DateTime))
INSERT [dbo].[RiskAnalizi] ([RiskID], [OgrenciID], [RiskSeviyesi], [RiskPuani], [HesaplanmaTarihi]) VALUES (3, 5, N'Orta', CAST(40.00 AS Decimal(5, 2)), CAST(N'2026-07-04T16:29:31.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[RiskAnalizi] OFF
GO
SET IDENTITY_INSERT [dbo].[SinavSonuclari] ON 

INSERT [dbo].[SinavSonuclari] ([SinavSonucID], [OgrenciID], [DersID], [VizePuani], [FinalPuani], [HarfNotu], [Durum], [SinavTarihi]) VALUES (1, 4, 1, CAST(80.00 AS Decimal(5, 2)), CAST(90.00 AS Decimal(5, 2)), N'AA', N'Gecti', CAST(N'2026-01-16T00:26:08.540' AS DateTime))
INSERT [dbo].[SinavSonuclari] ([SinavSonucID], [OgrenciID], [DersID], [VizePuani], [FinalPuani], [HarfNotu], [Durum], [SinavTarihi]) VALUES (2, 6, 3, CAST(30.00 AS Decimal(5, 2)), CAST(40.00 AS Decimal(5, 2)), N'FF', N'Kaldi', CAST(N'2026-01-16T00:26:08.543' AS DateTime))
INSERT [dbo].[SinavSonuclari] ([SinavSonucID], [OgrenciID], [DersID], [VizePuani], [FinalPuani], [HarfNotu], [Durum], [SinavTarihi]) VALUES (4, 6, 1, CAST(80.00 AS Decimal(5, 2)), CAST(60.00 AS Decimal(5, 2)), N'AA', NULL, CAST(N'2026-01-14T08:37:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SinavSonuclari] OFF
GO
SET IDENTITY_INSERT [dbo].[Teslimler] ON 

INSERT [dbo].[Teslimler] ([TeslimID], [OdevID], [OgrenciID], [IcerikMetni], [DosyaYolu], [TeslimTarihi], [Durum]) VALUES (1, 1, 4, N'Makale ?zeti ektedir...', NULL, CAST(N'2026-01-17T00:26:00.000' AS DateTime), N'Tamamlandı')
INSERT [dbo].[Teslimler] ([TeslimID], [OdevID], [OgrenciID], [IcerikMetni], [DosyaYolu], [TeslimTarihi], [Durum]) VALUES (2, 6, 4, N'cdsc', N'/Uploads/Submissions/4_6_20260116082327.pdf', CAST(N'2026-01-16T08:23:27.003' AS DateTime), N'Tamamlandı')
SET IDENTITY_INSERT [dbo].[Teslimler] OFF
GO
/****** Object:  Index [UK_Kayitlar_Ogrenci_Ders]    Script Date: 04/07/2026 06:37:18 م ******/
ALTER TABLE [dbo].[Kayitlar] ADD  CONSTRAINT [UK_Kayitlar_Ogrenci_Ders] UNIQUE NONCLUSTERED 
(
	[OgrenciID] ASC,
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__03ABA391AB8F4AB9]    Script Date: 04/07/2026 06:37:18 م ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Notlar__698351C33820F21C]    Script Date: 04/07/2026 06:37:18 م ******/
ALTER TABLE [dbo].[Notlar] ADD UNIQUE NONCLUSTERED 
(
	[TeslimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_SinavSonuclari_Ogrenci_Ders]    Script Date: 04/07/2026 06:37:18 م ******/
ALTER TABLE [dbo].[SinavSonuclari] ADD  CONSTRAINT [UK_SinavSonuclari_Ogrenci_Ders] UNIQUE NONCLUSTERED 
(
	[OgrenciID] ASC,
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kayitlar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [OlusturulmaTarihi]
GO
ALTER TABLE [dbo].[Notlar] ADD  DEFAULT (getdate()) FOR [PuanlamaTarihi]
GO
ALTER TABLE [dbo].[Odevler] ADD  DEFAULT ((1.0)) FOR [Agirlik]
GO
ALTER TABLE [dbo].[Odevler] ADD  DEFAULT ((3)) FOR [ZorlukSeviyesi]
GO
ALTER TABLE [dbo].[Odevler] ADD  DEFAULT ((60)) FOR [TahminiSureDakika]
GO
ALTER TABLE [dbo].[RiskAnalizi] ADD  DEFAULT (getdate()) FOR [HesaplanmaTarihi]
GO
ALTER TABLE [dbo].[SinavSonuclari] ADD  DEFAULT ((0)) FOR [VizePuani]
GO
ALTER TABLE [dbo].[SinavSonuclari] ADD  DEFAULT ((0)) FOR [FinalPuani]
GO
ALTER TABLE [dbo].[SinavSonuclari] ADD  DEFAULT ('Sonuclanmadi') FOR [Durum]
GO
ALTER TABLE [dbo].[SinavSonuclari] ADD  DEFAULT (getdate()) FOR [SinavTarihi]
GO
ALTER TABLE [dbo].[Teslimler] ADD  DEFAULT (getdate()) FOR [TeslimTarihi]
GO
ALTER TABLE [dbo].[Teslimler] ADD  DEFAULT ('Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD FOREIGN KEY([EgitmenID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kayitlar]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kayitlar]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD FOREIGN KEY([TeslimID])
REFERENCES [dbo].[Teslimler] ([TeslimID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Odevler]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RiskAnalizi]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinavSonuclari]  WITH CHECK ADD FOREIGN KEY([DersID])
REFERENCES [dbo].[Dersler] ([DersID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinavSonuclari]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Teslimler]  WITH CHECK ADD FOREIGN KEY([OdevID])
REFERENCES [dbo].[Odevler] ([OdevID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teslimler]  WITH CHECK ADD FOREIGN KEY([OgrenciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD CHECK  (([Rol]='Yonetici' OR [Rol]='Ogretmen' OR [Rol]='Ogrenci'))
GO
ALTER TABLE [dbo].[Notlar]  WITH CHECK ADD CHECK  (([FinalPuani]>=(0) AND [FinalPuani]<=(100)))
GO
ALTER TABLE [dbo].[Odevler]  WITH CHECK ADD CHECK  (([Agirlik]>=(0) AND [Agirlik]<=(100)))
GO
ALTER TABLE [dbo].[Odevler]  WITH CHECK ADD CHECK  (([ZorlukSeviyesi]>=(1) AND [ZorlukSeviyesi]<=(5)))
GO
ALTER TABLE [dbo].[RiskAnalizi]  WITH CHECK ADD CHECK  (([RiskSeviyesi]='Yuksek' OR [RiskSeviyesi]='Orta' OR [RiskSeviyesi]='Dusuk'))
GO
ALTER TABLE [dbo].[SinavSonuclari]  WITH CHECK ADD CHECK  (([FinalPuani]>=(0) AND [FinalPuani]<=(100)))
GO
ALTER TABLE [dbo].[SinavSonuclari]  WITH CHECK ADD CHECK  (([VizePuani]>=(0) AND [VizePuani]<=(100)))
GO
USE [master]
GO
